<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Tomato</title>

    <link rel="stylesheet" href="{{ static_url('css/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/flat-ui.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/tomato.css') }}">

    <script src="{{ static_url('js/vendor/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/flat-ui.min.js') }}"></script>
    <script src="{{ static_url('js/highcharts.min.js') }}"></script>
    <script src="{{ static_url('js/tomato.js') }}"></script>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <p>Stay focused with brain sensing headband.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">Connection</div>
            <div class="panel-body">
              <input type="checkbox" data-toggle="switch" data-on-color="success" data-off-color="warning" id="checkbox-connection">
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-info">
            <div class="panel-heading">Sensor</div>
            <div class="panel-body">
              <input type="checkbox" data-toggle="switch" data-on-color="success" id="checkbox-sensor">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">Tracks</div>
        <div class="panel-body">
          <div id="chart"></div>
        </div>
      </div>
    </div>
  </body>
</html>
