<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Tomato</title>

    <link rel="stylesheet" href="{{ static_url('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/bootstrap-switch.min.css') }}">
    <link rel="stylesheet" href="{{ static_url('css/tomato.css') }}">

    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap-switch.min.js') }}"></script>
    <script src="{{ static_url('js/highcharts.min.js') }}"></script>
    <script src="{{ static_url('js/tomato.js') }}"></script>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Tomato</h1>
        <p>Stay focused with brain sensing headband.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2>Controls</h2>
          <input type="checkbox" id="checkbox-websocket">
        </div>
        <div class="col-md-6">
          <h2>Status</h2>
          <span id="status">BAD</span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <h2>Chart</h2>
          <div id="chart"></div>
        </div>
      </div>
      <hr>
    </div>
  </body>
</html>
